<p id="notice"><%= notice %></p>

<p>
  <b>Protein gi:</b>
  <%= @protein_gi_taxon.protein_gi %>
</p>

<p>
  <b>Taxon:</b>
  <%= link_to @protein_gi_taxon.taxon_with_name.scientific_name, @protein_gi_taxon.taxon_with_name %>
</p>

<%= link_to 'Back', protein_gi_taxons_path %>
