<!DOCTYPE html>
<html>
  <head>
    <title>SciLifeLab BioSQL sequence and taxonomy store</title>
  </head>
  <body>
    <h1>SciLifeLab BioSQL sequence and taxonomy store</h1>

    <p>This is a web front-end to SciLifeLab's BioSQL based sequence and
    taxonomy store.</p>

    <p>Currently there's not much here except a queue in which you can place an
    NCBI gi, which will subsequently be fetched and stored in the database.</p>

    <p><%= link_to "Here's the queue", fetch_gis_path %></p>

  </body>
</html>
